/* GLOBAL STYLES */


* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;      
    font-size: 16px;
    line-height: 22px;    
    color: #4a4b4c;    
    background-color: #fff;                       
    font-family: 'Rubik', Arial, sans-serif;
}

*:focus {
    color: #7296EE;                           
    outline-offset: 4px;
    outline-width: 2px;
    outline-style: dashed;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER */


.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.converter {
    display: flex;
}

.converter-two {
    display: flex;
    align-items: center;
}

.logo-n24 {
    margin-right: 35px;
    display: block;
    width: 276px;
    height: 45px;
    background-color: #fff;
    border-radius: 7px;
    font-family: 'Rubik', sans-serif;
    transition: 0.5s ease;
}
.logo-n24:hover{
    opacity: 0.8;
    background-color:  #7296EE;;
    color: #fff;
    
}
.logo-n24:active{
    opacity: 0.6;
}


.course {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.dollars-icon {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; 
    color: #2959CE;
    margin-left:25px;
}

.numbers {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}
.search-input {
    font-size: 14px;
    line-height: normal;
    border: 0;
    padding-top: 13px;
    padding-bottom: 15px;
    border-radius: 60px;
    padding-left: 40px;
    padding-right: 20px;
    margin-right: 25px;
}
.lang {
    display: flex;
    padding: 3px;
    border-radius: 39px;
    margin-right: 25px;
    background-color: #dce6ff;
}
.lang-uz {
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    line-height: 30px;
    border-radius: 50%;
}
.text {
    color: #000;
    width: 535px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 10px 0px;
    text-decoration: none;
    transition: 0.2s ease;
}
.text:hover{
    opacity: 0.8;
    color:  #7296EE;
}
.text:active{
    opacity: 0.6;
}
.lang-link {
    background-color: #fff;
    color: #000;
}
.lang-ru {
    text-decoration: none;
    line-height: 30px;
    color: #a6a6a6;
    margin-right: 13px;
    margin-left: 8px;
}
.access-icon {
    display: inline-block;
    width: 89px;
    background-color: #7296EC;
    color: #fff;
    padding: 13px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}
.access-icon:hover{
    opacity: 0.8;
    color: #fff;
    
}
.access-icon:active{
    opacity: 0.6;
}
.img {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* SITENAV */


.site-header-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d1d1d1;
    list-style: none;
    
}

.main-link {
    text-decoration: none;
    width: 90px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    color: #7F7F7F;
    transition: 0.3s ease;
}
.main-link:hover{
    opacity: 0.8;
    background-color:  ;
    color: #7296EE;
    border-radius: 4px;
    
}
.main-link:active{
    opacity: 0.6;
}

.main-heading {
    padding-top: 50px;
    flex-grow: 1;
    
}

.manage-the-hero {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -10px;
}

.hero-the-heading {
    width: 393px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 20px 17px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    list-style: none; 
    flex-grow: 1;
}

.hero-heading {
    width: 346px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    color: #000;
    transition: 0.2s ease;
}
.hero-heading:hover{
    opacity: 0.8;
    color:  #7296EE;
}
.hero-heading:active{
    opacity: 0.6;
}

.hero-heading-info {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: none;
}

.hero-img {
    width: 360px;
    height: 165px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
    display: block;
    margin-top: auto;
}

.hero-time {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
}

.time {
display: flex;
align-items: center;
}

/* CTA */

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ec7826;
    margin: 60px 75px;
    padding: 25px 70px 25px 25px;
    border-radius: 8px;
}

.cta-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
}

.button-orange {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.7px;
    padding: 13px 30px;
    background-color: #F78B3B;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}

.button-orange:hover{
    opacity: 0.8;
    color: #fff;
    
}
.button-orange:active{
    opacity: 0.6;
}

.global-data {
    width: 797px;
    padding: 20px 20px 20px 17px;
    border-radius: 15px;
    background-color: #F6F6F6;
    list-style: none;
    margin-bottom: 10px;
}

.global-info {
    margin: 0;
    padding: 0;
    list-style: none;
}
.global-heading {
    margin: 0;
    margin-bottom: 10px;
}
.look-more-margin{
    margin-bottom: 17px;
}

.global-text {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.news-img {
    width: 210px;
    height: 165px;
    border-radius: 10px;
    margin-right: 15px;
}
.news-list {
    display: flex;
}

.minilogo-data {
    display: flex;
    color: #5E5F61;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
}
.images-logo {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.btn-show-again {
    display: inline-block;
    background-color: #EAEAEA;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    border-radius: 10px;
    padding: 17px 343px;
    
}

.btn-container {
    margin-bottom: 100px;
}
.show-again {
    display: inline-block;
    background-color: #EAEAEA;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    border-radius: 10px;
    padding: 17px 343px; 
    transition: 0.4s ease; 
}
.show-again:hover{
    opacity: 0.8;
    color:  #7296EE;;
}
.show-again:active{
    opacity: 0.6;
}

.the-main-thing {
    width: 96px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.brief-info {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    margin: 0;
    margin-left: 10px;
}
.in-the-world {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}


.brief-title {
    width: 96px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 17px 20px;
    margin: 0;
    margin-bottom: 25px;
}

.brief-links {
    width: 311px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 8px 0px;
    transition: 0.2s ease;
    text-decoration: none;
}
.brief-links:hover{
    opacity: 0.8;
    color:  #7296EE;
}
.brief-links:active{
    opacity: 0.6;
}
.brief-text {
    width: 159px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
    padding-bottom: 10px;
}

.advertising-img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo-img {
    width: 393px;
    height: 338px;
    border-radius: 15px;
}

.news-list-iteam {
    display: flex;
}

.global-data {
    display: flex;
}

.brief-styles {
    list-style: none;
}

.site-footer {
    background-color: #7297EF
}

.site-footer-logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.44px;
    text-decoration: none;
    transition: 0.4s ease;
}
.site-footer-logo:hover{
    opacity: 0.8;
    color: #fff;
    
}
.site-footer-logo:active{
    opacity: 0.6;
}

.site-footer-paragraph {
    width: 229px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 19px;
}

.site-footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.site-footer-item {
    list-style: none;
    font-size: 12px;
    color: #fff;
}

.site-footer-paragraph {
    width: 229px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 19px;
}

.site-footer-hr {
    background-color: #CECECE;
    height: 1px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
}

.footer-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-text {
    color: #fff;
    width: 161px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

.site-footer-link {
    font-size: 16px;
    line-height: 18.96px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease;
}
.site-footer-link:hover{
    opacity: 0.8;
    color: #fff;
    
}
.site-footer-link:active{
    opacity: 0.6;
}
.site-footer-icon img {
    display: block;
}

.site-footer-logo-heading {
    margin: 0;
    margin-bottom: 15px;
}

.site-footer-container {
    max-width: 1038px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
}
.site-footer-item:nth-child(2) {
    width: 167px;
    margin-right: 100px;
}


.site-footer-item:last-child {
    width: 224px;
}
.site-footer-item a {
    margin-bottom: 20px;
    display: block;
}

.site-footer-item:first-child {
    margin-right: 203px;
}
.site-footer-icon {
    list-style: none;
    margin-right: 25px;
    transition: 0.3s ease;
}
.site-footer-icon:hover{
    opacity: 0.8;
    color: #fff;
    
}
.site-footer-icon:active{
    opacity: 0.6;
}